$primary-color: #505050;
$dark-border:   #203257;

body {
    font: 100% 'NowRegular';
    font-weight: normal;
    font-style: normal;
    line-height: 170%;

    color: $primary-color;
    margin: 0;
    background-color: white;
}

.site {
    display: flex;
    flex-direction: column;

    a, a:visited {
        text-decoration: none;
        cursor: pointer;
        color: #21468b;
    }

    a:hover {
        opacity: 0.6;
    }

    img.icon {
      width: 18px;
      height: 18px;
      padding: 0px 5px;

      &.email, &.twitter, &.book {
        position: relative;
        bottom: -2px;
      }

      &.youtube {
        width: 20px;
        height: 20px;
        position: relative;
        bottom: -3px;
      }
    }

    .form-button {
      display: inline-block;
      margin: auto;
      width: 150px;
      padding: 10px 20px;
      border: 1px solid $primary-color;
      background: #fff;
      color: $primary-color;
      text-align: center;
    }

    .wrapper {
        flex: 1;

        * {
            /* border: 1px solid red; */
        }

        display: flex;
        flex-flow: row wrap;

        .header, .main, .sidebar {
            flex: 1 1 100%;
        }

        .header {
            display: flex;
            flex-direction: column;
            padding: 0;

            div.title {
                flex: 1 100%;
                width: 100%;
                margin: auto;
            }

            div.logo {
                margin-left: 20px;
                margin-top: 20px;

                flex: 1 100%;

                img {
                    width: 200px;
                }
            }

            h1 {
                display: block;
                text-align: center;
                color: #fff;
                padding: 10px;
                position: relative;
                z-index: 1;
                min-width: 300px;
                line-height: 150%;

                &::after {
                    content: " ";
                    z-index: -1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #203257;
                    opacity: 0.8;
                }
            }

            background: url('../img/houses.jpg');
            background-size: cover;
            background-position: center;
        }

        .sidebar {
            flex-direction: column;
            display: flex;
            background: #f7f7f7;
            padding-top: 40px;
            padding-left: 20px;

            a.item {
                padding-bottom: 20px;
            }

            .expand-icon {
              display: none;
            }
        }

        .main {
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;

            h2 {
                font-size: 1.2rem;

                &::after {
                    content: " ";
                    display: block;
                    width: 80px;
                    height: 2px;
                    margin: 10px 0;
                    background: #ae1c28;
                }

                margin-top: 40px;
            }

            h3 {
                font-size: 0.9rem;
            }

            iframe {
              padding-top: 25px;
            }
        }

        // Large viewport
        @media all and (min-width: 800px) {
            .main {
                flex: 4 1 0;
                padding-bottom: 20px;
            }

            .sidebar {
                flex: 1 1 0;
            }
        }

        // Medium viewport
        @media all and (max-width: 800px) {
            .sidebar, .main {
                padding-left: 10px;
                padding-right: 10px;
            }

            .header {
            }

            .sidebar {
                padding-top: 10px;
                padding-right: 0;
                padding-left: 0;
                position: fixed;
                top: 0;
                right: 0;
                width: 100%;
                z-index: 2;
                transition: height 200ms ease 0s;
                transition: width 200ms ease 0s;
                overflow: hidden;

                &.collapsed {
                  height: 40px;
                  width: 80px;
                }

                .expand-icon {
                  display: block;
                  font-size: 30px;
                }


                a.item {
                    text-align: center;
                }
            }

            .header {
                div.logo {
                    margin: auto;
                    margin-top: 20px;
                }
            }
        }

        // Small viewport
        @media all and (max-width: 500px) {
            .sidebar {
            }
        }

        .org-info, .email-info {
            display: block;

            img {
                padding: 0 10px;
            }
        }

        .org-info:last-child {
            &:after {
                content: "";
            }
        }
    }

    .footer {
        display: flex;
        flex-flow: row wrap;
        height: 52px;

        a {
            flex: 1 1 auto;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            overflow: hidden;

            img {
                padding: 10px;
                height: 32px;
                width: 32px;
            }
        }

        background: #f7f7f7;
    }

    // Small viewport
    @media all and (max-width: 500px) {
        .footer {
            a {
                text-align: center;
            }
        }
    }

    .sponsors {
      h2.platinum {
        &:after {
          content: none;
        }
      }

      a.sponsor {
        max-width: 800px;
      }
    }
}
